<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login Form Template</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assetslogin/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assetslogin/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assetslogin/css/form-elements.css">
        <link rel="stylesheet" href="assetslogin/css/style.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assetslogin/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assetslogin/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assetslogin/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assetslogin/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assetslogin/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong></strong> Sign up Form</h1>
                            <div class="description">
                            	<p>
	                            	为确保账户安全，完成账号注册后一定要记住密码!!
								</p>
								<p>
									To ensure account security, remember the password after account registration!!
								</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Registered accounts</h3>
                            		<p>Enter your username and password to sign up:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                     <form role="form" action="config/addUser" method="get" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                    		<!-- name -->
			                        	<input type="text" name="name" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<!-- password -->
			                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<!-- password -->
			                        	<input type="text" name="mailbox" placeholder="mailbox..." class="form-password form-control" id="form-mailbox">
			                        </div>
			                        <button type="submit" class="btn">Sign up!</button>
			                         <div class="form-group">
			                       		<p></p>
			                       		<h3 ><a href="index">Back to home page</a></h3>
                        			</div>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                        		<i class="fa fa-facebook"></i> Facebook
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>



        <!-- Javascript -->
        <script src="assetslogin/js/jquery-1.11.1.min.js"></script>
        <script src="assetslogin/bootstrap/js/bootstrap.min.js"></script>
        <script src="assetslogin/js/jquery.backstretch.min.js"></script>
        <script src="assetslogin/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>